.container {
  margin: 10px;
}

.innerContainer {
  display: flex;
  flex-direction: column;
}

.producerContactsLabelsContainer {
  display: flex;
  flex-flow: row wrap;
}

@media only screen and (max-width: 600px) {
  .producerContactsLabelsContainer {
    flex-flow: column;
    align-items: stretch;
  }

  .producerContactLabel {
    padding: 1px 0px;
  }
}
