.appContainer {
  display: flex;
  margin: auto;
  max-width: 1060px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #fff;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: solid 1px #ddd;
}

.logo {
  width: 175px;
  margin-right: 5px;
}
.headerDropdown {
  margin: 20px 5px;
}

.search {
  flex-grow: 1;
  margin: 5px 10px 5px 5px;
}

.headerSocialIcon {
  display: inline-block;
  padding: 10px 5px;
}

.footer {
  margin: 10px 0px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: solid 1px #ddd;
}
