.appContainer {
  display: flex;
  margin: auto;
  max-width: 1060px;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: solid 1px #ddd;
}

.logo {
  width: 175px;
  margin-right: 5px;
}
.categories {
  margin: 10px;
}

.search {
  flex-grow: 1;
  margin-left: 5px;
}
