.categoryIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.categoryIcon:hover {
  /* background-color: #ffc145; */
  transition: all 0.2s ease-out;
  background-image: radial-gradient(closest-side, #ffc145, #ffc14500);
  transform: scale(1.05);
}

.categoryIcon {
  flex: 1 1 100px;
  padding: 15px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
