.container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-wrap: nowrap;
}

.productImagesContainer {
  display: flex;
  flex-flow: row wrap;
}

.productImage {
  max-width: 400px;
  min-width: 133px;
  flex: 1 1;
}

.productDetailsContainer {
  display: flex;
  flex-direction: column;
}

.productPriceContainer {
  display: flex;
  flex-direction: row;
}

.productPriceLeftColumn {
  display: flex;
  flex-direction: column;
}
